{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'user/css/auth.css' %}" />
{% endblock %}
{% block content %}

<div class="auth-container">
  <div class="auth-box">
    <h2 class="auth-title">Login</h2>
    <form method="POST" class="auth-form">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
        <div class="auth-field">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {{ field.errors }}
        </div>
      {% endfor %}
      <button type="submit" class="auth-btn">Login</button>
    </form>
    <p class="auth-text">Don't have an account?
      <a href="{% url 'signup' %}" class="auth-link">Sign up here</a>.
    </p>
  </div>
</div>
{% endblock %}
