{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'user/css/auth.css' %}" />
{% endblock %}
{% block content %}


<div class="auth-container">
  <div class="auth-box">
    <h2 class="auth-title">Update Password</h2>

    <form method="post" class="auth-form">
      {% csrf_token %}
      {% for field in form %}
        <div class="auth-field">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {{ field.errors }}
        </div>
      {% endfor %}
      <button type="submit" class="auth-btn">Change Password</button>
    </form>
  </div>
</div>
{% endblock %}
